{
  "endOfLine": "auto",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "semi": true,
  "importOrder": [
    "^react(.*)",
    "^@emotion/(.*)$",
    "^@storybook/(.*)$",
    "^@components/(.*)$",
    "^@type/(.*)$",
    "^@constants/(.*)$",
    "^@utils/(.*)$",
    "^@styles/(.*)$",
    "^@stories/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
