.panels {
  width: 100%;
  height: 100%;
  padding: 16px;

  background-color: transparent;
}

.panel {
  height: 100%;

  background-color: transparent;
  overflow-y: auto;
}

.panel > * {
  font-size: 1.6rem;
}
